@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

  * {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  img{
    max-width: 100%;
  }

  body{
    background-image: url('Images/image.png')  ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: aliceblue;
  }
  .container {
    
    margin: 0 auto;
    padding: 15px 0;


  }
  header {
    background-color: #192637;
    width: 100%;
    height: 80px;
    border-bottom:4px solid #8ea1ba;
  }
  
  
 .container .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
    float: left;
    border-right:4px solid #8ea1ba;
    padding-right: 20px;
  }
  
 .container nav ul {
    list-style: none;
    float: right;
    
 }
 .container nav ul li{
  display: inline-block;
  background-color: black; 
padding: 10px 25px; 
border-radius: 5px; 

} 
.container nav ul li a {
  color: #fff;
  font-size: 15px;
} 
.container nav ul li:hover {
  transform: translateY(4px);
  background-color: rgb(234, 121, 23);
  transition: all 1000ms ease;
}
 /* main  */
 
 main {
    background-color: #435a79;
    background-position: center center;
    width: 70%;
    height: 900px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
 }
 main p {
   width: 100%;
   height: 40px ;
   text-align: center ;
   padding-top: 20px;
   background-color: #192637;
 }
 /* dayOnWeekElements */
 #dayOnWeek {
  width: 100%;
  height: 70px;
  border-top: 4px solid #768ba8;
  border-bottom: 4px solid #768ba8;
}

#dayOnWeekElements {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dayOnWeekElements > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6%;
  height: 60px;
  border-radius: 100%;
  background: linear-gradient(45deg, #00B5F5, #002A8F);
  cursor: pointer;
  color: #fff;
  text-align: center;
  margin: 5px 4%;
  transition: all 265ms ease-out;
  position: relative;
}

#dayOnWeekElements > li div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#dayOnWeekElements > li:hover {
  transform: scale(1.5);
  color: #00B5F5;
  background: -webkit-linear-gradient(45deg, #00B5F5, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in}

 #main_div {
   width: 100%;
   height: 670px;
 }
 
 #add_task {
   width: 60px;
   height: 60px;
   text-align: center;
   position: relative;
   border-radius: 100%;
   background: linear-gradient(45deg, #00B5F5, #002A8F);
   cursor: pointer;
   color: #fff;
   float: right;
   margin-right: 40px;
   margin-top: 550px;
   font-size: 20px;
   
}

#add_task:hover {
  
   transform: scale(1.1);
   transition: all 265ms ease-in;
}


#add_task a {
   color: inherit; 
   line-height: 60px; 
   
}
#add_task ul {
   list-style: none;

}

 .social-container {
   width: 100%;
  
   text-align: center;
   position: relative;
   border-top: 4px solid #768ba8;
   background-color: #192637;
 }
 
 .social-icons {
   padding: 0;
   list-style: none;
   margin: 1em;
 }
 .social-icons li {
   display: inline-block;
   margin: 0.5em;
   position: relative;
   font-size: 1.2em;
 }
 .social-icons i {
   color: #fff;
   position: absolute;
   top: 21px;
   left: 21px;
   transition: all 265ms ease-out;
 }
 .social-icons a {
   display: inline-block;
 }
 .social-icons a:before {
   transform: scale(1);
   -ms-transform: scale(1);
   -webkit-transform: scale(1);
   content: " ";
   width: 60px;
   height: 60px;
   border-radius: 100%;
   display: block;
   background: linear-gradient(45deg, #00B5F5, #002A8F);
   transition: all 265ms ease-out;
 }
 .social-icons a:hover:before {
   transform: scale(0);
   transition: all 265ms ease-in;
 }
 .social-icons a:hover i {
   transform: scale(2.2);
   -ms-transform: scale(2.2);
   -webkit-transform: scale(2.2);
   color: #00B5F5;
   background: -webkit-linear-gradient(45deg, #00B5F5, #ffffff);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   transition: all 265ms ease-in;
 }
 
 

/* footer */
 footer {
    width: 100%;
    height: 300px;
    background-color: #192637;
    border-top:4px solid #768ba8;

 }
footer .logo {
  width: 20%;
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
    float: left;
    margin-left: 5%;
    margin-right: 5%;

    margin-top: 140px;
    
  }
 footer #footer_center {
    width: 60%;
    height: 130px;
    background-position: center center;
    margin-left: 4%;
    margin-top: 8%;
    float: right;
 }
 

 .Upp {
    font-size: 18px;
    font-weight: 500;
 }
 footer ul li, footer ul li a {
    list-style: none;
    color: #768ba8;
    font-size: 14px;
    margin-right: 5%;

 }
 footer ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
 }
 #first_div, #second_div {
    float: left;
    margin-right: 10%;

 }
 #second_div {
    float: left;
    margin-top: 27px;
 }
 /* Sign_up */
 body #sign_up {
  width: 50%;
  height: 55%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  background-color: #435a79;
  border-radius: 5px;
  border: 4px solid #8ea1ba ;
 }
 body #sign_up form {
  height: 100%;
  margin-left: 10%;
  padding-top: 5%;
 
 }

 body #sign_in {
  width: 50%;
  height: 55%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  background-color: #435a79;
  border-radius: 5px;
  border: 4px solid #8ea1ba ;

 }
 body #sign_in form {
  height: 100%;
  margin-left: 10%;
  padding-top: 5%;
  
 }
 body #sign_in form a {
  color: #fff;
  
  
 }
 #warn {
  color: red;
 }
 #warn_1 {
  color: red;
 }
 body #sign_in >label{
  margin-left: 20%;
  font-size: 20px;
 }
 body #sign_in form a:hover {
  color: #8ea1ba;
  text-decoration: underline;
  
 }
 #BtnSignUp {
  display: inline-block;
  background-color: black;
  padding: 10px 25px;
  border-radius:5px ;
  color: #fff;
    font-size: 15px;
    margin-top:4% ;
    margin-left:35% ;
    cursor: pointer;
 }


 #BtnSignIn {
  display: inline-block;
  background-color: black;
  padding: 10px 25px;
  border-radius:5px ;
  color: #fff;
    font-size: 15px;
    margin-top:8% ;
    margin-left:35% ;
    cursor: pointer;
 }
 #BtnSignUp:hover{
  transform: translateY(4px);
  background-color: rgb(234, 121, 23);
  transition: all 1000ms ease;
 }
 #BtnSignIn:hover{
  transform: translateY(4px);
  background-color: rgb(234, 121, 23);
  transition: all 1000ms ease;
 }
 form input {
  border: unset;
  border-bottom: 3px solid #8ea1ba;
  background-color: #435a79;
  color: #fff;
  outline: none;
 }
 /* home.php */
 #session {
  float: right;
 }
 .session {
  background-color: none;
 }

 .am_home {
  color: #fff;
  text-decoration: none;
  position: relative;
  float: right;
  padding-right: 5%;
  padding-bottom: 5%;
  margin-bottom: 2%;

  
 }
 .am_home:hover {
color: #8ea1ba;
text-decoration: underline;

 }
 #am_home_1> a{
  color: #fff;
  text-decoration: none;
  float: right;
  margin-top: 7%;
  margin-left: 8%;
  position: absolute;
 }
 #am_home_1>a:hover{
text-decoration: underline;
color: #8ea1ba;
 }

 
